.footer {
	position: relative;
	padding: 65px 0 55px;
	color: var(--fc-gray);
	background: url(assets/images/footer-bg.jpg) no-repeat 50% bottom / cover;

	@include hg {
		padding: 40px 0;
	}

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#000, 0.7);
		backdrop-filter: blur(25px);
		content: "";
	}

	&__container {
		display: grid;
		grid-template-columns: 250px 1fr 2fr;
		gap: 70px 50px;

		@include hg {
			gap: 50px;
		}

		@include md {
			grid-template-columns: 1fr 1fr 2fr;
		}

		@include sm {
			grid-template-columns: 1fr auto;
			gap: 20px 40px;
		}

		@include xs {
			display: flex;
			flex-direction: column;
			gap: 20px;
			text-align: center;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 15px;

		@include sm {
			grid-row: span 2;
			grid-column: 2/3;
			gap: 20px;
		}

		@include xs {
			align-items: center;
		}
	}

	&__logo {
		display: block;
		width: fit-content;

		@include sm {
			margin-left: auto;
		}

		@include xs {
			margin-left: 0;
		}

		svg {

			@include sm {
				width: 110px;
				height: auto;
				color: var(--fc-light-gray);
			}
		}
	}

	&__socials {
		margin-top: 35px;

		@include hg {
			margin-top: 15px;
		}

		@include sm {
			margin-top: auto;
		}

		.socials__item {

			svg {

				@include sm {
					width: 25px;
					height: auto;
				}
			}
		}
	}

	&__menu {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
		height: fit-content;

		@include sm {
			grid-row: 1/2;
			grid-column: 1/2;
		}

		@include xs {
			justify-items: center;
		}

		.menu-item {

			a {
				display: block;
				width: 100%;
				color: var(--fc-light-gray);
				font-weight: 400;
				font-size: 14px;
				text-transform: uppercase;
				text-decoration: none;
				transition: var(--transition);

				@include mouse {

					&:hover {
						color: var(--fc-light);
					}
				}
			}
		}

		.current-menu-item {

			a {
				color: var(--fc-light);
				cursor: default;
			}
		}
	}

	&__contacts {
		color: var(--fc-light-gray);
		line-height: 1.2;

		@include xs {
			align-items: center;
		}
	}

	&__contacts-content {
		display: flex;
		flex-direction: column;
		gap: 10px;

		@include xs {
			align-items: center;
		}
	}

	&__contacts-wrapper {

		a {
			display: inline-block;
			color: var(--fc-light);
			transition: var(--transition);

			@include mouse {

				&:hover {
					color: var(--primary);
				}
			}
		}
	}

	&__links {
		display: flex;
		grid-column: span 3;
		gap: 50px;
		align-items: center;

		@include sm {
			grid-column: span 2;
			gap: 20px;
			justify-content: space-between;
			width: 100%;
			margin-top: 30px;
		}

		@include xs {
			flex-direction: column;
			gap: 10px;
		}
	}

	&__requisites,
	&__policy {
		font-size: 14px;
		@include ui-link(var(--fc-gray));
	}

	&__policy {
		margin-left: 140px;

		@include sm {
			margin-left: 0;
		}
	}

	&__copyright {
		margin-left: auto;
		font-size: 14px;

		@include sm {
			margin-left: 0;
		}

		@include xs {
			font-size: 18px;
		}
	}
}
