.main-text {
	margin: 60px 0 40px;

	h1.main-text__title {
		font-size: clamp(1.5rem, 1.298rem + 0.897vw, 2.375rem);
	}

	h2.main-text__title {
		font-size: clamp(1.25rem, 1.077rem + 0.769vw, 2rem);
	}

	h3.main-text__title {
		font-size: clamp(1rem, 0.827rem + 0.769vw, 1.75rem);
	}

	&__title {
		max-width: 50%;
		margin-left: auto;

		@include md {
			max-width: none;
			margin-left: 0;
		}
	}

	&__content {
		margin-top: 40px;
		line-height: 1.35;

		@include xs {
			margin-top: 30px;
		}
	}
}
