.universal-block {
	position: relative;
	padding: 120px 0 180px;
	overflow: hidden;
	background: #f2f2f2;

	@include hg {
		padding: 60px 0 90px;
	}

	@include md {
		padding: 60px 0;
	}

	@include xs {
		padding: 45px 0 20px;
	}

	&__container {
		z-index: var(--ui-index-2);
		pointer-events: none;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: center;
		width: 60%;
		min-height: 630px;
		margin-left: auto;
		padding: 0 40px;
		background: #f2f2f2;
		pointer-events: all;

		@include hg {
			min-height: 540px;
		}

		@include md {
			width: 100%;
			min-height: auto;
			padding: 0;
		}
	}

	&__text,
	&__advantages-text {
		line-height: 1.2;
	}

	&__advantages {
		margin-top: 20px;

		@include hg {
			margin-top: 0;
		}

		@include xs {
			margin-top: 20px;
		}
	}

	&__advantages-title {
		font-weight: 700;
		font-size: 20px;
		font-family: var(--font-secondary);
	}

	&__advantages-list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 20px;

		@include hg {
			margin-top: 20px;
		}
	}

	&__advantages-item {
		display: flex;
		gap: 20px;
		align-items: center;

		@include xs {
			flex-direction: column;
			gap: 10px;
			align-items: flex-start;
		}
	}

	&__advantages-img {
		flex-shrink: 0;
		width: 80px;
		height: 60px;
		object-fit: contain;
	}

	&__advantages-small-text {
		font-weight: 400;
		line-height: 1.2;
	}

	&__media {
		position: absolute;
		top: 120px;
		left: calc(50% - 635px);
		width: 100%;
		max-width: 1270px;
		height: calc(100% - 120px - 180px);
		overflow: visible;

		@include hg {
			top: 60px;
			height: calc(100% - 60px - 90px);
		}

		@include to(1320px) {
			left: 1.5rem;
			max-width: calc(100% - 3rem);
		}

		@include md {
			position: static;
			max-width: calc(100% - 1.5rem);
			height: auto;
			margin: 40px 0.75rem 0;
			overflow: hidden;
		}
	}

	&__slider-item {
		display: flex;

		img {
			width: 40%;
			height: 100%;
			object-fit: cover;

			@include md {
				width: 100%;
				height: auto;
				aspect-ratio: 6/7;
			}
		}
	}

	&__video-link {
		position: relative;
		display: flex;
		align-items: center;
		width: 40%;
		height: 100%;
		overflow: hidden;

		@include md {
			width: 100%;
			height: auto;
			aspect-ratio: 16/9;
		}

		@include xs {
			aspect-ratio: 6/7;
		}

		@include mouse {

			&:hover {

				.btn-play {
					transform: translate(-40%, -50%) scale(1.1);
				}
			}
		}

		&::after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(#141414, 0.6);
			content: "";
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__video-btn {
		z-index: var(--ui-index-1);
	}
}
